/* CSS Document */

#main, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5 !important;
}

#wrapper {
	width: 100%;
	max-width: 1600px;
	margin: auto;
}

#main {
	width: 90%;
	margin: auto;
	margin-top: 100px;
	padding-bottom: 100px;
}

#masthead {
	background-color: rgb(255, 255, 255);
	background-size: auto;
	border-bottom-color: rgb(216, 216, 216);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: rgb(0, 0, 0);
	display: block;
	font-family: sans-serif;
	font-size: 100%;
	height: 73px;
	line-height: 24px;
	min-height: 73px;
	padding-left: 24px;
	padding-right: 85px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 3;
}
/*styles for the code page header*/
#header-section {
	width: 100%;
}

.social-links {
	position: fixed;
	top: 5px;
	left: 90%;
	font-size: 80%;
	text-align: right;
}

.project-item {
	clear: none;
	color: rgb(255, 255, 255);
	display: block;
	float: left;
	font-family: sans-serif;
	font-size: 100%;
	height: 500px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	position: relative;
	width: 33.33333%;
	word-wrap: break-word;
	box-shadow: 10px 10px 5px #888888;
	transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
	
}

#main article:nth-of-type(-n+3) {
	border-top: 1px solid #ccc;
}


.grid-image {
	min-width: 100%;
	height: inherit;
}
/* adds line breaks when loading descriptions */
.add-new-lines {
	white-space: pre-wrap;
}

.project-header {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0px;
	color: rgb(255, 255, 255);
	display: block;
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	left: 0px;
	line-height: 24px;
	max-height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
	word-wrap: break-word;
	z-index: 1;
}
.entry-link {
	height: 100%;
	left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 0;
	padding: 0;
	position: absolute;
	text-decoration: none;
	top: 0px;
	width: 100%;
}
.entry-link:hover {
	opacity: 1;
	background-color: rgba(0,0,0, 0.5);
}

/* footer style */


@media (max-width: 1500px) {
	.project-item {
		height: 450px;
	}
}

@media (max-width: 1400px) {
	.project-item {
		width: 50%;
	}
	.social-links {
		font-size: 70%;
	}
}

@media (max-width: 950px) {
	.project-item {
		height: 380px;
	}
}
@media (max-width: 750px) {
	
	#main {
		width: 100%;
	}
	.project-item {
		width: 100%;
		height: 500px;
	}
	#pageTitle {
		font-size: 150%;
	}
	
	.social-links {
		font-size: 50%;
	}
}